* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    overflow: hidden;
}

#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.n-config-provider {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.vditor {
    border-radius: 0 !important;
    border: none !important;
}

.dark .vditor-ir pre.vditor-reset {
    background-color: #24292e !important;
}

.light .vditor-ir pre.vditor-reset {
    background-color: #fafbfc !important;
}

.vditor-toolbar {
    display: none;
}

.nocopy {
    user-select: none;
}

.vditor-preview__action {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.dark ::-webkit-scrollbar-thumb {
    background: #2d2f33;
}

.light ::-webkit-scrollbar-thumb {
    background: #e1e4e8;
}

.n-empty {
    display: none;
}